name: update StaticSharp.Core reference
on:
  push:
    branches:
      - main
  repository_dispatch:
    types: [staticsharp_core_updated]
  workflow_dispatch:
jobs:
  updateAndBuild:
    name: Update template HelloStaticSharp and Build
    runs-on: ubuntu-22.04
    if: github.event_name == 'repository_dispatch'
    steps:
      - name: Checkout repository
        uses: actions/checkout@v1

      - name: Update package reference
        run: |
          set +e
          retries=3000
          while ((retries>0)); do 
            echo $retries
            dotnet nuget locals all --clear
            dotnet add ./TestNugetConsumer.csproj package SomeTestNuget \
            --source https://api.nuget.org/v3/index.json \
            --version ${{ github.event.client_payload.package_version }} \
            > /dev/null 2>&1
            if (($?==0)); then 
                break;
            fi; 
            sleep 2; 
            ((retries--))
          done
          if ((retries==0)); then
            echo "Failed!"
            exit 1
          fi;
          
      - name: Build
        run: |    
          dotnet build
  build:
    name: Build
    if: github.event_name != 'repository_dispatch'
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v1

      - name: Update package reference
        run: |
          dotnet nuget locals all --clear
          dotnet add ./TestNugetConsumer.csproj package SomeTestNuget --source https://api.nuget.org/v3/index.json

      - name: Build
        run: |    
          dotnet build
      